*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 340px;
  margin: 0;
  background-color: var(--bg-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  color: var(--text-color);
  max-inline-size: 100%;
}

a {
  color: inherit;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}
